<widget id="com.example.hello" version="0.0.1">
    <name>blogMobile</name>
    <description>
        App para Blogs.
    </description>
    <author email="tihh.gon@gmail.com" href="http://www.tiago.art.br">
        Tihh Gonçalves
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>