<widget id="com.example.hello" version="0.0.1">
    <name>Mais Café</name>
    <description>
        App oficial do blog maiscafe.blog.br :)
    </description>
    <author email="tihh.gon@gmail.com" href="http://www.tiago.art.br">
        Tihh Gonçalves
    </author>
    <content src="index.html" />
    <icon src="icon.png"/>
    <icon src="www/res/icon/android/icon-36-ldpi.png" gap:platform="android" gap:qualifier="ldpi"/>
    <icon src="www/res/icon/android/icon-48-mdpi.png" gap:platform="android" gap:qualifier="mdpi"/>
    <icon src="www/res/icon/android/icon-72-hdpi.png" gap:platform="android" gap:qualifier="hdpi"/>
    <icon src="www/res/icon/android/icon-96-xhdpi.png" gap:platform="android" gap:qualifier="xhdpi"/>
    <access origin="*" browserOnly="true" />
</widget>